In [29]:
import pandas as pd

In [30]:
employee_data = pd.read_excel(
    'database/clean_DanhSachThongTinDoanVien.xlsx', dtype=str)

In [31]:
employee_data

,stt,maso_doanvien,hovaten,tinh,matinh,cmnd,huongluong_ngansach,huongluong_ngoaingansach,khongchuyentrach,chutich,...,vuvbkt,ngayvao_congdoan,Unnamed_19,Unnamed_20,Unnamed_21,Unnamed_22,nguyenquan_tinh,nguyenquan_matinh,gioitinh,ngaysinh
0,1,000005178473,Trần Văn Dần,Nam Định,14,020638174,NaN,NaN,NaN,NaN,...,NaN,01/01/2010,NaN,NaN,NaN,NaN,Bắc Giang,21,nam,10/01/1963
1,2,000005178402,Mai Phước Vinh,Quảng Nam,52,079080013078,NaN,NaN,NaN,NaN,...,NaN,01/02/2009,NaN,NaN,NaN,NaN,Lạng Sơn,22,nam,17/04/1980
2,3,000005178202,Trịnh Thái Xiêm,Tây Ninh,63,072080001551,NaN,NaN,NaN,NaN,...,NaN,05/04/2005,NaN,NaN,NaN,NaN,TP Hồ Chí Minh,23,nam,23/06/1980
3,4,000001491754,Đặng Phước Sang,An Giang,50,089094008005,NaN,NaN,NaN,NaN,...,NaN,21/08/2020,NaN,NaN,NaN,NaN,Nghệ An,24,nam,22/07/1994
4,5,000005178296,Võ Duy Khanh,Tây Ninh,63,079088016996,NaN,NaN,NaN,NaN,...,NaN,20/10/2012,NaN,NaN,NaN,NaN,Quảng Bình,25,nam,10/10/1988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,440,000006556838,Hà Thị Bích Hằng,Bình Định,64,215419368,NaN,NaN,NaN,NaN,...,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,nu,10/04/1997
440,441,000006556839,Phạm Thị Vân Anh,Thái Bình,65,034191001750,NaN,NaN,NaN,NaN,...,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,nu,03/11/1991
441,442,000006556837,Nguyễn Thị Lệ Quyên,Quảng Nam,52,049199003742,NaN,NaN,NaN,NaN,...,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,nu,09/11/1999
442,443,000006556842,Phạm Mỹ Trinh Trinh,Sóc Trăng,59,365919385,NaN,NaN,NaN,NaN,...,NaN,01/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,nu,23/11/1994
443,444,000006650148,Lê Thị Hồng Nhung,Nghệ An,24,040191040090,NaN,NaN,NaN,NaN,...,NaN,26/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,nu,02/05/1991

In [32]:
len(employee_data)

444

In [33]:
import uuid
import random

In [34]:
list_users_id = ["EmployeeID_"+str(uuid.uuid4())
                 for i in range(len(employee_data))]
employee_data["employee_id"] = list_users_id

In [35]:
list_groups_id = ["GroupID_"+str(uuid.uuid4()) for i in range(5)]
user_group = [random.choice(list_groups_id) for i in range(len(employee_data))]
employee_data["group_id"] = user_group

In [36]:
# employee_data.to_excel("final_employee_data.xlsx", index=False)

# Load Final employee data

In [37]:
import pandas as pd
employee_data = pd.read_excel('database/final_employee_data.xlsx', dtype=str)

In [41]:
group_ids = employee_data["group_id"].unique().tolist()

In [44]:
group_names = [f"Trung Tâm {i + 1}" for i in range(len(group_ids))]

In [45]:
group_names

['Trung Tâm 1', 'Trung Tâm 2', 'Trung Tâm 3', 'Trung Tâm 4', 'Trung Tâm 5']

In [46]:
group_df = pd.DataFrame.from_dict(
    {"group_id": group_ids, "group_name": group_names})

In [48]:
group_df.to_excel("group_data.xlsx", index=False)

## Create temp data

In [ ]:
data = [
    {
        "key": "0",
        "Mã nhân viên": "...",
        "Tên": "adsf",
        "Vị trí": "ágd",
        "Số áo": "ádf"
    },
    {
        "key": "19031998-1",
        "Mã nhân viên": "àgds",
        "Tên": "3refd",
        "Vị trí": "c sadf",
        "Số áo": "fdgsdfg sdfgsdfg"
    }
]

In [2]:
import pandas as pd

In [3]:
employee_data = pd.read_excel('database/final_employee_data.xlsx', dtype=str)

In [4]:
employee_data

,stt,maso_doanvien,hovaten,tinh,matinh,cmnd,huongluong_ngansach,huongluong_ngoaingansach,khongchuyentrach,chutich,...,Unnamed_19,Unnamed_20,Unnamed_21,Unnamed_22,nguyenquan_tinh,nguyenquan_matinh,gioitinh,ngaysinh,employee_id,group_id
0,1,000005178473,Trần Văn Dần,Nam Định,14,020638174,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Bắc Giang,21,nam,10/01/1963,EmployeeID_9441341f-2140-401c-aac0-9e9ce088ca1a,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8
1,2,000005178402,Mai Phước Vinh,Quảng Nam,52,079080013078,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Lạng Sơn,22,nam,17/04/1980,EmployeeID_2f2a6700-cf47-42eb-927c-94e0022880eb,GroupID_990381bf-777a-4622-baba-0695fbf477dd
2,3,000005178202,Trịnh Thái Xiêm,Tây Ninh,63,072080001551,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TP Hồ Chí Minh,23,nam,23/06/1980,EmployeeID_923bfaaa-bc49-4247-a0ea-69f5ea2fb49f,GroupID_f02b7648-cb29-43ec-9ea8-13e942b19de2
3,4,000001491754,Đặng Phước Sang,An Giang,50,089094008005,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Nghệ An,24,nam,22/07/1994,EmployeeID_3536b3da-b69d-4770-96df-d147ebad7cd6,GroupID_640cd15a-4df8-4937-a26b-e801d7ebdfa7
4,5,000005178296,Võ Duy Khanh,Tây Ninh,63,079088016996,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Quảng Bình,25,nam,10/10/1988,EmployeeID_c589fc7a-7a49-4832-ad6c-5ad53ea808b7,GroupID_f02b7648-cb29-43ec-9ea8-13e942b19de2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,440,000006556838,Hà Thị Bích Hằng,Bình Định,64,215419368,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nu,10/04/1997,EmployeeID_feab2e99-cf1f-4b71-8f35-b3f70b97bb99,GroupID_990381bf-777a-4622-baba-0695fbf477dd
440,441,000006556839,Phạm Thị Vân Anh,Thái Bình,65,034191001750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nu,03/11/1991,EmployeeID_c63f7e85-6320-40e3-b1c6-87c0a0de535e,GroupID_640cd15a-4df8-4937-a26b-e801d7ebdfa7
441,442,000006556837,Nguyễn Thị Lệ Quyên,Quảng Nam,52,049199003742,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nu,09/11/1999,EmployeeID_1fd5b15a-4f35-4c02-9b73-c4891f52184d,GroupID_f02b7648-cb29-43ec-9ea8-13e942b19de2
442,443,000006556842,Phạm Mỹ Trinh Trinh,Sóc Trăng,59,365919385,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nu,23/11/1994,EmployeeID_09215c16-f807-46c1-8faa-03c6deed0d47,GroupID_9106a6c0-7ed2-488e-83db-149993c458ba
443,444,000006650148,Lê Thị Hồng Nhung,Nghệ An,24,040191040090,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nu,02/05/1991,EmployeeID_eda87e55-04a6-4ac4-89f3-679cd0502919,GroupID_990381bf-777a-4622-baba-0695fbf477dd

In [18]:
pos_lib = [
    "Tiền đạo",
    "Hậu vệ",
    "Thủ môn",
    "Tiền vệ",
    "Tiền vệ",
    "Tiền vệ",
    "Tiền vệ",
    "Trung vệ",
    "Trung phong",
    "Trung vệ phòng ngự"
]
numbers_lib = [str(i) for i in range(1, 30)]

In [8]:
import random
# temp_data = {
#         "key": "0",
#         "Mã nhân viên": "...",
#         "Tên": "adsf",
#         "Vị trí": "ágd",
#         "Số áo": "ádf"
#     },

# rand_point =

In [75]:
import uuid

total_data = []
cur_group_id = "GroupID_9106a6c0-7ed2-488e-83db-149993c458ba"
group_mems = employee_data[employee_data["group_id"] == cur_group_id]
for i in range(7):
        rand_idx = random.randint(0, len(group_mems) - 1)
        name = group_mems.iloc[rand_idx]["hovaten"]
        emp_id = group_mems.iloc[rand_idx]["maso_doanvien"]
        pos = random.choice(pos_lib)
        number = random.choice(numbers_lib)
        key = str(uuid.uuid4())
        cur_data = {
                "key": key,
                "Mã nhân viên": emp_id,
                "Tên": name,
                "Vị trí": pos,
                "Số áo": number
        }
        total_data.append(cur_data)

In [76]:
import json
json_total_data = json.dumps(total_data, ensure_ascii=False).replace("'", '"')
with open("test.json", "w", encoding="utf-8") as f:
        f.write(json_total_data)

### Marathon

In [ ]:
employee_data

In [85]:
import uuid

total_data = []
cur_group_id = "GroupID_f02b7648-cb29-43ec-9ea8-13e942b19de2"
group_mems = employee_data[employee_data["group_id"] == cur_group_id]
for i in range(30):
        rand_idx = random.randint(0, len(group_mems) - 1)
        name = group_mems.iloc[rand_idx]["hovaten"]
        emp_id = group_mems.iloc[rand_idx]["maso_doanvien"]
        gender = group_mems.iloc[rand_idx]["gioitinh"]
        gender = "Nam" if gender == "nam" else "Nữ"
        key = str(uuid.uuid4())
        cur_data = {
                "key": key,
                "Mã nhân viên": emp_id,
                "Tên": name,
                "giới tính": gender,
        }
        total_data.append(cur_data)

In [86]:
import json
json_total_data = json.dumps(total_data, ensure_ascii=False).replace("'", '"')
with open("test.json", "w", encoding="utf-8") as f:
        f.write(json_total_data)

### Múa

In [12]:
import uuid
import random
total_data = []
cur_group_id = "GroupID_9106a6c0-7ed2-488e-83db-149993c458ba"
group_mems = employee_data[employee_data["group_id"] == cur_group_id]
for i in range(2):
        rand_idx = random.randint(0, len(group_mems) - 1)
        name = group_mems.iloc[rand_idx]["hovaten"]
        emp_id = group_mems.iloc[rand_idx]["maso_doanvien"]
        # gender = group_mems.iloc[rand_idx]["gioitinh"]
        # gender = "Nam" if gender == "nam" else "Nữ"
        list_choices = ["Cháu lên ba", "Con cò bé bé", "Cháu yêu bà", "Ba thương con", "Chị ong nâu"]
        song = random.choice(list_choices)
        expect_time = random.choice([str(i) + " phút" for i in range(2, 10)])
        key = str(uuid.uuid4())
        cur_data = {
                "key": key,
                "Mã nhân viên": emp_id,
                "Tên": name,
                "Tiết mục": song,
                "Thời gian dự tính": expect_time,
        }
        total_data.append(cur_data)

In [13]:
import json
json_total_data = json.dumps(total_data, ensure_ascii=False).replace("'", '"')
with open("test.json", "w", encoding="utf-8") as f:
        f.write(json_total_data)

# random test

In [11]:
import event_db_handler
import pandas as pd
import datetime

In [4]:
eventHandler = event_db_handler.EventHandler()

In [41]:
main_data = pd.read_excel("database/final_employee_data.xlsx", dtype=str)

In [42]:
total_data = eventHandler.transform_table_data()

In [43]:
total_rows = []
for each_key, each_data in total_data.items():
        total_rows+=each_data
total_data_df = pd.DataFrame.from_dict(total_rows)

In [46]:
total_joining_employee = len(set(total_data_df["Mã nhân viên"]))
total_event = len(set(total_data_df["event_id"]))
total_table = len(set(total_data_df["table_id"]))

In [47]:
main_data.keys()

Index(['stt', 'maso_doanvien', 'hovaten', 'tinh', 'matinh', 'cmnd',
       'huongluong_ngansach', 'huongluong_ngoaingansach', 'khongchuyentrach',
       'chutich', 'phochutich', 'uvbch', 'totruong', 'topho', 'cb_cdcs',
       'vuvbkt', 'ngayvao_congdoan', 'Unnamed_19', 'Unnamed_20', 'Unnamed_21',
       'Unnamed_22', 'nguyenquan_tinh', 'nguyenquan_matinh', 'gioitinh',
       'ngaysinh', 'employee_id', 'group_id'],
      dtype='object')

In [87]:
total_joining_emp_code = total_data_df["Mã nhân viên"].tolist()
total_joining_emp_code = [value for value in total_joining_emp_code if value != "..."]

In [ ]:
dfs = [main_data[main_data['maso_doanvien'] == code] for code in total_joining_emp_code]
joining_emp_df = pd.concat(dfs)
joining_emp_df

In [100]:
gender = joining_emp_df["gioitinh"].value_counts()
count_male = gender["nam"]
count_female = gender["nu"]
print(f"Nam: {count_male}")
print(f"Nữ: {count_female}")

Nam: 45
Nữ: 38

In [113]:
dob = joining_emp_df["ngaysinh"].to_list()

cur_year = int(datetime.datetime.now().year)
ages = [cur_year - int(dob[i].split("/")[-1]) for i in range(len(dob))]
avg_age = sum(ages) / len(ages)
avg_age

40.83132530120482

In [3]:
import event_db_handler
import pandas as pd

In [4]:
eventHandler = event_db_handler.EventHandler()
main_data = pd.read_excel("database/final_employee_data.xlsx", dtype=str)

In [6]:
# eventDashboardManager = event_db_handler.EventDashboardManager(employee_data_df=main_data, eventHandler=eventHandler)

In [ ]:
eventDashboardManager.get_total_event_dashboard_stat()

In [5]:
total_data = eventHandler.transform_table_data()

In [6]:
total_rows = []
for each_key, each_data in total_data.items():
        total_rows+=each_data
total_data_df = pd.DataFrame.from_dict(total_rows)

In [7]:
total_data_df

,key,Mã nhân viên,Tên,Vị trí,Số áo,event_id,group_id,table_id,giới tính,Tiết mục,Thời gian dự tính,thời gian dự tính,Link nhạc
0,c22196f3-9cf3-4b32-a142-a889aa2d508d,000005178307,Phạm Thị Diệu Huyền,Trung vệ phòng ngự,13,d8dca5f0-58f2-4061-9498-c2b1a8da882c,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,ab9b88d8-86ed-47c6-a74a-b47281d97538,NaN,NaN,NaN,NaN,NaN
1,1cd4e817-a0d4-4f63-993c-618a2d1ed0c6,000005178361,Nguyễn Hoàng Ngọc Hân,Tiền đạo,10,d8dca5f0-58f2-4061-9498-c2b1a8da882c,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,ab9b88d8-86ed-47c6-a74a-b47281d97538,NaN,NaN,NaN,NaN,NaN
2,d8b5a420-839f-41f7-b11f-0e46bef7394a,000005178283,Võ Hoàng Hà,Hậu vệ,15,d8dca5f0-58f2-4061-9498-c2b1a8da882c,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,ab9b88d8-86ed-47c6-a74a-b47281d97538,NaN,NaN,NaN,NaN,NaN
3,cf7d2ae7-a7fd-4e5c-bb54-3380d6db1d55,000005178192,Nguyễn Thị Mỹ Ngọc,Trung phong,2,d8dca5f0-58f2-4061-9498-c2b1a8da882c,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,ab9b88d8-86ed-47c6-a74a-b47281d97538,NaN,NaN,NaN,NaN,NaN
4,babb1be5-0fb7-4a95-b697-bdfd3ae4be1a,000005180367,Phạm Xuân Hiền,Tiền vệ,17,d8dca5f0-58f2-4061-9498-c2b1a8da882c,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,ab9b88d8-86ed-47c6-a74a-b47281d97538,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Row--0d28d42d-a8a0-40e4-9d21-6f23dc323582,...,...,NaN,NaN,2696e973-26ca-4ee1-b851-80e652316441,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,347b1699-c676-43e0-8a36-a6e3a11ba4f9,NaN,...,NaN,...,...
91,user002-2,...,...,NaN,NaN,2696e973-26ca-4ee1-b851-80e652316441,GroupID_990381bf-777a-4622-baba-0695fbf477dd,347b1699-c676-43e0-8a36-a6e3a11ba4f9,NaN,...,NaN,...,...
92,0,...,...,NaN,NaN,2696e973-26ca-4ee1-b851-80e652316441,GroupID_9106a6c0-7ed2-488e-83db-149993c458ba,347b1699-c676-43e0-8a36-a6e3a11ba4f9,NaN,...,NaN,...,...
93,0,...,...,NaN,NaN,2696e973-26ca-4ee1-b851-80e652316441,GroupID_f02b7648-cb29-43ec-9ea8-13e942b19de2,347b1699-c676-43e0-8a36-a6e3a11ba4f9,NaN,...,NaN,...,...
94,0,...,...,NaN,NaN,2696e973-26ca-4ee1-b851-80e652316441,GroupID_640cd15a-4df8-4937-a26b-e801d7ebdfa7,347b1699-c676-43e0-8a36-a6e3a11ba4f9,NaN,...,NaN,...,...

In [8]:
short_df = total_data_df[["group_id", "event_id"]]

In [9]:
short_df

,group_id,event_id
0,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,d8dca5f0-58f2-4061-9498-c2b1a8da882c
1,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,d8dca5f0-58f2-4061-9498-c2b1a8da882c
2,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,d8dca5f0-58f2-4061-9498-c2b1a8da882c
3,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,d8dca5f0-58f2-4061-9498-c2b1a8da882c
4,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,d8dca5f0-58f2-4061-9498-c2b1a8da882c
...,...,...
90,GroupID_a330f381-4e38-4a93-a0c9-f194425aabf8,2696e973-26ca-4ee1-b851-80e652316441
91,GroupID_990381bf-777a-4622-baba-0695fbf477dd,2696e973-26ca-4ee1-b851-80e652316441
92,GroupID_9106a6c0-7ed2-488e-83db-149993c458ba,2696e973-26ca-4ee1-b851-80e652316441
93,GroupID_f02b7648-cb29-43ec-9ea8-13e942b19de2,2696e973-26ca-4ee1-b851-80e652316441
94,GroupID_640cd15a-4df8-4937-a26b-e801d7ebdfa7,2696e973-26ca-4ee1-b851-80e652316441

In [10]:
x.loc["GroupID_640cd15a-4df8-4937-a26b-e801d7ebdfa7"]

NameError: name 'x' is not defined

In [11]:
import utils
groupData = utils.GroupData()

In [12]:
short_df = total_data_df[["group_id", "Mã nhân viên"]]
short_df = short_df[short_df["Mã nhân viên"] != "..."]
group_id_count = short_df["group_id"].value_counts().to_dict()
most_joining_group = max(group_id_count, key=group_id_count.get)
most_joining_value = group_id_count[most_joining_group]
for each_group_id, each_value in group_id_count.items():
        print(f"{groupData.get_group_name(each_group_id)}: {each_value}")

Trung Tâm 1: 32
Trung Tâm 3: 30
Trung Tâm 2: 14
Trung Tâm 5: 7

In [13]:
most_joining_value

32

In [14]:
short_df = total_data_df[["group_id", "Mã nhân viên", "event_id"]]
short_df = short_df[short_df["Mã nhân viên"] != "..."]
short_df = short_df[["group_id", "event_id"]]
x = short_df.groupby(["group_id", "event_id"]).count()
group_ids = short_df["group_id"].unique().tolist()
for each_group_id in group_ids:
    print(f"{groupData.get_group_name(each_group_id)}: {len(x.loc[each_group_id])}")

Trung Tâm 1: 2
Trung Tâm 2: 2
Trung Tâm 5: 1
Trung Tâm 3: 1

In [15]:
short_df = total_data_df[["group_id", "Mã nhân viên", "event_id"]]
short_df = short_df[short_df["Mã nhân viên"] != "..."]

In [28]:
import ast
query_event_data = eventHandler.query_all_events()
event_ids = query_event_data["event_id"]
event_datas = query_event_data["event_data"]
total_event = len(event_ids)
total_table = 0
for idx, str_data in event_datas.items():
    data = ast.literal_eval(str_data)
    tables = data["tables_data"]
    total_table += len(tables)
total_table

6